/***************************************/
/******  Profile Panel User ******/
/***************************************/
._Profile_panel_menu_left_Panel_user_post{
    width: 95%;
    margin-right: 5%;
    height: auto;
    background: #090c0d;
    margin-bottom: 100px;
}
