@font-face {
    font-family: 'yekan';
    src: url('../Font/yekan.eot?#')format('embedded-opentype'),
         url('../Font/yekan.ttf')format('truetype');
}

.font{
    font: px yekan;
}
.font1{
    font: 1px yekan;
}
.font2{
    font: 2px yekan;
}
.font3{
    font: 3px yekan;
}
.font4{
    font: 4px yekan;
}
.font5{
    font: 5px yekan;
}
.font6{
    font: 6px yekan;
}
.font7{
    font: 7px yekan;
}
.font8{
    font: 8px yekan;
}
.font9{
    font: 9px yekan;
}
.font10{
    font: 10px yekan;
}
.font11{
    font: 11px yekan;
}
.font12{
    font: 12px yekan;
}
.font13{
    font: 13px yekan;
}
.font14{
    font: 14px yekan;
}
.font15{
    font: 15px yekan;
}
.font16{
    font: 16px yekan;
}
.font17{
    font: 17px yekan;
}
.font18{
    font: 18px yekan;
}
.font19{
    font: 19px yekan;
}
.font20{
    font: 20px yekan;
}
.font21{
    font: 21px yekan;
}
.font22{
    font: 22px yekan;
}
.font23{
    font: 23px yekan;s
}
.font24{
    font: 24px yekan;
}
.font25{
    font: 25px yekan;
}
.font26{
    font: 26px yekan;
}
.font27{
    font: 27px yekan;
}
.font28{
    font: 28px yekan;
}
.font29{
    font: 29px yekan;
}
.font30{
    font: 30px yekan;
}
.font31{
    font: 31px yekan;
}
.font32{
    font: 32px yekan;
}
.font33{
    font: 33px yekan;
}
.font34{
    font: 34px yekan;
}
.font35{
    font: 35px yekan;
}
.font36{
    font: 37px yekan;
}
.font37{
    font: 37px yekan;
}
.font38{
    font: 38px yekan;
}
.font39{
    font: 39px yekan;
}
.font40{
    font: 40px yekan;
}
.font41{
    font: 41px yekan;
}
.font42{
    font: 42px yekan;
}
.font43{
    font: 43px yekan;
}
.font44{
    font: 44px yekan;
}
.font45{
    font: 45px yekan;
}
.font46{
    font: 46px yekan;
}
.font47{
    font: 47px yekan;
}
.font48{
    font: 48px yekan;
}
.font49{
    font: 49px yekan;
}
.font50{
    font: 50px yekan;
}
.font51{
    font: 51px yekan;
}
.font52{
    font: 52px yekan;
}
.font53{
    font: 53px yekan;
}
.font54{
    font: 54px yekan;
}
.font55{
    font: 55px yekan;
}
.font56{
    font: 56px yekan;
}
.font57{
    font: 57px yekan;
}
.font58{
    font: 58px yekan;
}
.font59{
    font: 59px yekan;
}
.font60{
    font: 60px yekan;
}
.font61{
    font: 61px yekan;
}
.font62{
    font: px yekan;
}
.font63{
    font: 63px yekan;
}
.font64{
    font: 64px yekan;
}
.font65{
    font: 65px yekan;
}
.font66{
    font: 66px yekan;
}
.font67{
    font: 67px yekan;
}
.font68{
    font: 68px yekan;
}
.font69{
    font: 69px yekan;
}
.font70{
    font: 70px yekan;
}
.font71{
    font: 71px yekan;
}
.font72{
    font: 72px yekan;
}
.font73{
    font: 73px yekan;
}
.font74{
    font: 74px yekan;
}
.font75{
    font: 75px yekan;
}
.font76{
    font: 76px yekan;
}
.font77{
    font: 77px yekan;
}
.font78{
    font: 78px yekan;
}
.font79{
    font: 79px yekan;
}
.font80{
    font: 80px yekan;
}
.font81{
    font: 81px yekan;
}
.font82{
    font: 82px yekan;
}


