body{
    background: #021011;

}
._Comment_post{
    width: 100%;
    height: 350px;
    border: 2px solid #7dc660;
    border-radius: 20px;
    margin-top: 20px;
    padding:15px 30px;
}
._Comment_post>form>textarea{
    height: 300px;
}
._Comment_submit{
    width: 20%;
    height: 45px;
    background: #1c7430;
    border-radius: 20px;
    color: #FFFFFF;
}
._Comment_reset{
    width: 20%;
    height: 45px;
    background: #1c7430;
    border-radius: 20px;
    color: #FFFFFF;
}
/************** Postcomment **************/

._Post_comment{
    background: #090c0d;
    box-shadow:0 6px 20px 2px rgba(22, 27, 28, 0.93);
    width: 97%;
    height: auto;
    margin: 50px 0;
    margin-right: 1.5%;
    line-height: 50px;
    padding: 10px 20px;
    text-align: justify;
    border-radius: 10px;
}
._Post_comment > nav {
    width: 40%;
    margin: 30px 5% 10px 5%;
    height: 50px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    background: #417d00;
    color: #FFFFFF;
}
._Post_comment_nav1{
    background: #4e9b4e !important;
    float: left;
}

/************** Create Comment **************/
._Comment_post_new>h3{
    color: white;
    padding:40px 20px 20px 0;
}
._Comment_post_new>form{
    width: 100%;
    height: auto;
    padding: 30px 20px;
}
._Comment_post_new>form>textarea{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    padding: 20px 30px;
    color: #7b0300;
}
._Comment_post_new>form>button{
    margin: 0 10px;
}
._Comment_reset{
    background: #d70200;
}

/************** Create Comment **************/



/************** Informatingadmin **************/

._Informating_admin{
    height: 520px;
    width: 90%;
    margin: 20px 5%;
    background: white;
    border-radius: 20px;
}
._Informating_admin_left > img {
    height: 200px;
    border-radius: 100%;
    width: 65%;
    margin: 0 auto;
    padding: 15px 0;
    display:block;
}
._Informating_admin_left > h6{
    height: 20px;
    text-align: center;
    padding: -15px 0;
    display:block;
}
._Informating_admin_left > p{
    height: 20px;
    text-align: justify;
    padding: 10px 15px;
    display:block;
}
._Informating_admin_left_follow_chat{
    position: absolute;
    bottom: 0;
    width: 100%;
}
._Informating_admin_left_follow {
    padding: 4px 25%;
    border-radius: 20px;
    margin: 20px 10%;
    margin-top: 50px;
    display: block;
    text-align: center;
}
._Informating_admin_left_chat{
    padding: 4px 25%;
    border-radius: 20px;
    margin: 20px 10%;
    display: block;
    text-align: center;
    border:1px solid #828282 ;
}


._Informating_admin_right{
    height: 520px;
}

._Informating_admin_right_acceptpost{
     width: 100%;
     height: 130px;
    transition: all ease 1.5s;
}
._Informating_admin_right_acceptpost:hover{
    transition: all ease 1.5s;
    background: #cce1b4;
}
._Informating_admin_right_acceptpost > i{
    text-align: center;
    color: #828282;
    display: block;
    padding: 15px 0 10px 0;
    transition: all ease 0.5s;
}
._Informating_admin_right_acceptpost > i:hover{
    transition: all ease 0.5s;
    color: #227b00;
}
._Informating_admin_right_acceptpost > h6 {
    color: #828282;
    text-align: center;
    margin: 0 auto;
}
._Informating_admin_right_acceptpost > p {
    text-align: center;
    margin: 0 auto;
}

._Informating_admin_right_post{
    width: 100%;
    height: 130px;
    transition: all ease 1.5s;
}
._Informating_admin_right_post:hover{
    transition: all ease 1.5s;
    background: #cce1b4;
}
._Informating_admin_right_post > i{
    text-align: center;
    color: #828282;
    display: block;
    padding: 15px 0 10px 0;
    transition: all ease 0.5s;
}
._Informating_admin_right_post > i:hover{
    transition: all ease 0.5s;
    color: #227b00;
}
._Informating_admin_right_post > h6 {
    color: #828282;
    text-align: center;
    margin: 0 auto;
}
._Informating_admin_right_post > p {
    text-align: center;
    margin: 0 auto;
}

._Informating_admin_right_heart{
    width: 100%;
    height: 130px;
}
._Informating_admin_right_heart:hover{
    transition: all ease 1.5s;
    background: #cce1b4;
}
._Informating_admin_right_heart > i{
    text-align: center;
    color: #b20000;
    display: block;
    padding: 15px 0 10px 0;
    transition: all ease 0.5s;
}
._Informating_admin_right_heart > i:hover{
    transition: all ease 0.5s;
}
._Informating_admin_right_heart > h6 {
    color: #828282;
    text-align: center;
    margin: 0 auto;
}
._Informating_admin_right_heart > p {
    text-align: center;
    margin: 0 auto;
}

._Informating_admin_right_follow{
    width: 100%;
    height: 130px;
    transition: all ease 1.5s;
}
._Informating_admin_right_follow:hover{
    transition: all ease 1.5s;
    background: #cce1b4;
}
._Informating_admin_right_follow > i{
    text-align: center;
    color: #828282;
    display: block;
    padding: 15px 0 10px 0;
    transition: all ease 0.5s;
}
._Informating_admin_right_follow > i:hover{
    transition: all ease 0.5s;
    color: #227b00;
}
._Informating_admin_right_follow > h6 {
    color: #828282;
    text-align: center;
    margin: 0 auto;
}
._Informating_admin_right_follow > p {
    text-align: center;
    margin: 0 auto;
}

/************** Sharepost **************/

._Share_post{
    height: 125px;
    width: 90%;
    margin: 20px 5%;
    background: #090c0d;
    box-shadow:0 6px 20px 2px rgba(22, 27, 28, 0.93);
    border-radius: 20px;
    border: 3px solid #3b763b;
}
._Share_post > p {
    padding: 20px 25px 5px 25px;
    color: #3b763b;
}
._Share_post_i > i{
    float: left;
    margin-left: 25px;
    transition: all ease 0.5s;
    color: white;
}
._Share_post_i > i:hover{
    transition: all ease 0.5s;
    color: #4a797b;
}
