/**************** Informatingpost ****************/

._Informating_post{
    height: 450px;
    width: 90%;
    margin: 20px 5%;
    background-size: 100% 425px;
    border-radius: 5px;
    background: #090c0d;
    box-shadow:0 6px 20px 2px rgba(22, 27, 28, 0.93);
    transition: all ease 0.5s;
    border-bottom: 3px solid #3b763b;
}
._Informating_post:hover{
    transition: all ease 0.5s;
}
._Informating_post_text_border{
    border-top: 2px solid #3b763b;
    margin-top: 40px !important;
}
._Informating_post_text{
    margin: 20px auto 0 auto;
    text-align: center;
    color: #3b763b;
}


._Informating_post_point{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 0 5%;
    display: inline-block;
    text-align: center;
}
._Informating_post_point > form{
    display: inline-block;
}
._Informating_post_point > form > button{
    background: none;
    margin-right:-5px ;
    padding: 0 5px;
}
._Informating_post_point > form > button > i {
    color: white;
    margin-top: 10px;
}
._Informating_post_point_text{
    height: 50px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    padding-top: 5px;
    color: #4e9b4e;
}
._Informating_post_point_text>span{
    color: white;
}

/**************** statistics ****************/

._Informating_post_statistics{
    height: 150px;
}
._Informating_post_statistics_time {
    height: 150px;
    display: block;
}
._Informating_post_statistics_time > i{
    text-align: center;
    color: #3b763b;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    padding: 25px 0 10px 0;
}
._Informating_post_statistics_time > h6{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
._Informating_post_statistics_time > p {
    text-align: center;
    margin: 0 auto;
    padding: 7.5px 0 0 0;
    color: #417d00;
}

._Informating_post_statistics_like{
    height: 150px;

}
._Informating_post_statistics_like > i{
    color: #b20000;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 25px 0 10px 0;
}
._Informating_post_statistics_like > h6{
    color: white;
    text-align: center;
    margin: 0 auto;
}
._Informating_post_statistics_like > p {
    text-align: center;
    margin: 0 auto;
    padding: 7.5px 0 0 0;
    color: #b20000;
}

._Informating_post_statistics_comment{
    height: 150px;
}
._Informating_post_statistics_comment > i{
    text-align: center;
    color: #3b763b;
    margin: 0 auto;
    display: block;
    padding: 25px 0 10px 0;
}
._Informating_post_statistics_comment > h6{
    color: white;
    text-align: center;
    margin: 0 auto;
}
._Informating_post_statistics_comment > p {
    text-align: center;
    margin: 0 auto;
    padding: 7.5px 0 0 0;
    color: #417d00;
}

._Informating_post_like{
    height: 80px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
._Informating_post_like_buttom{
    background: none;
    margin-top: 7.5px;
    width: 100%;
}
._Informating_post_likes > i{
    float: right;
    display: inline-block;
    transition: all ease 0.5s;
    padding: 30px 5% 0 0;
    color: #ffffff;
}
._Informating_post_likes:hover > i{
    color: #ff0000;
    transition: all ease 0.5s;
}
._Informating_post_likes:hover> p{
    color: #ff0000;
    transition: all ease 0.5s;
}
._Informating_post_likes > p {
    display: inline-block;
    float: right;
    padding: 27.5px 20px 0 0;
    color: #FFFFFF;
    transition: all ease 0.5s;
}

/**************** model-like ****************/
._Model_title{
    color: #1c7430;
}
._Model_text{
    margin: 5px 7.5px;
}
._Btn_like{
    color: #739f6f;
}
._Btn_like:hover{
    color: #567452;
}
._Btn_like_model{
    background: #1c7430;
    padding: 10px 30px;
    border: 1px solid #40ad47;
}
._Btn_like_model > a{
    text-decoration: none;
    color: white;
}
._Btn_like_model:hover{
    background: #40ad47;
    border: 1px solid #1c7430;
    text-decoration: none;

}
._Btn_like_model_close{
    background: #567452;
    padding: 10px 30px;
    border: 1px solid #739f6f;
}
._Btn_like_model_close:hover{
    background: #739f6f;
    border: 1px solid #567452;

}
