/*************   Categories All *************/

._Table_categories_name{
    width: 25%;
    height: 75px;
}
._Table_categories_under{
    width: 30%;
    height: 75px;
}
._Table_categories_time{
    width: 15%;
    height: 75px;
}
._Table_categories_operation{
    width: 10%;
    height: 75px;
}
